<footer id="footer">
    <div class="footer-widget dark-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 widget bottom-xs-pad-20">
                    <div class="widget-title">
                        <!-- Title -->
                        <h3 class="title">About Us</h3>
                    </div>
                    <!-- Text -->
                    <p><strong>FORTRESS General Enterprise Limited (GTH).</strong> was incorporated in November 2015 for the purpose of providing wide range of services such as ICT solutions, Digital Marketing, Sales, Supply and Distribution, Consultancy Services, General Contract, Agriculture amongst others.</p>
                    <!-- Address -->
                    <p>
                        <strong>Office:</strong>No 166, Third Floor, Sky Memorial Complex, Zoo Road
                        <br />Kano State,
                        <br />Nigeria
                    </p>
                    <!-- Phone -->
                    <p>
                        <strong>Contact Us:</strong>
                    </p>
                    <a href="#"><i class="fa fa-phone"></i> +2348039701889</a><br />
                    <a href="#"><i class="fa fa-phone"></i> +2348030749709</a><br />
                    <a href="#"><i class="fa fa-phone"></i> +2347036789858</a><br />
                    <a href="#"><i class="fa fa-envelope"></i> info@fortressenterprise.com.ng</a>
                    

                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 widget bottom-xs-pad-20">
                    <div class="widget-title">
                        <!-- Title -->
                        <h3 class="title">Our Services</h3>
                    </div>
                    <nav>
                        <ul>
                            <!-- List Items -->
                            <li>
                                <a href="#">ICT Solutions</a>
                            </li>
                            <li>
                                <a href="#">Digital Marketing</a>
                            </li>
                            <li>
                                <a href="#">Consultancy Services</a>
                            </li>
                            <li>
                                <a href="#">Sales, Supply and Maintenance</a>
                            </li>
                            <li>
                                <a href="#">General Contract</a>
                            </li>

                            <li>
                                <a href="#">Agricultural Products</a>
                            </li>
                            <li>
                                <a href="#">Supply of Building Materials</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="widget-title">
                        <!-- Title -->
                        <h3 class="title">Other Services</h3>
                    </div>
                    <nav>
                        <ul>
                            <!-- List Items -->
                            <li>
                                <a href="#">Supply of Hospital Equipments</a>
                            </li>
                            <li>
                                <a href="#">Powe/Electrical Engery Systems</a>
                            </li>
                            <li>
                                <a href="#">Security Systems</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 widget">
                    <div class="widget-title">
                        <!-- Title -->
                        <h3 class="title">MarketPlace</h3>
                    </div>
                    <nav>
                        <ul class="footer-blog">
                            <!-- List Items -->
                            <li>
                                <a href="#">Agricultural Products</a>
                            </li>
                            <li>
                                <a href="#">Coffee/Tea/Mate/Spices</a>
                            </li>
                            <li>
                                <a href="#">Dairy Products (Raw)</a>
                            </li>
                            <li>
                                <a href="#">Electrical Appliances</a>
                            </li>
                            <li>
                                <a href="#">Precious Stones and Metal </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 widget newsletter bottom-xs-pad-20">
                    <div class="widget-title">
                        <!-- Title -->
                        <h3 class="title">Newsletter Signup</h3>
                    </div>
                    <div>
                        <!-- Text -->
                        <p>Subscribe to Our Newsletter. <strong>Would</strong> never share your contact information with other clients</p>
                        <p class="form-message1" style="display: none;"></p>
                        <div class="clearfix"></div>
                        <!-- Form -->
                        <form id="subscribe_form" action="http://zozothemes.com/html/mist/light/subscription.php" method="post" name="subscribe_form" role="form">
                            <div class="input-text form-group has-feedback">
                                <input class="form-control" type="email" value="" name="subscribe_email" />
                                <button class="submit bg-color" type="submit">
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="footer-count">
                        <p class="count-number">
                            follow us :
                        </p>
                    </div>
                    <!-- Social Links -->
                    <div class="social-icon gray-bg icons-circle i-3x">
                        <a href="https://www.facebook.com/Fortress-General-Enterprise-Limited-962118207201893" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-pinterest"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-google"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
                <!-- .newsletter -->
            </div>
        </div>
    </div>
    <!-- footer-top -->
    <div class="copyright dark-section">
        <div class="container">
            <div class="row">
                <!-- Copyrights -->
                <div class="col-xs-12 col-sm-6 col-md-6">
                    Copyright &copy; Fortress General Enterprise, @DateTime.Now.ToString("yyyy")
                    <br />
                    <!-- Terms Link -->

                    <a href="#">Terms of Use</a> /
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a>
                    <br />
                    Powered By
                    <br />
                    <a href="http://www.fortressenterprise.com.ng /" target="_blank"><img src="~/Content/Frontend/light/img/footerlogo.png"> </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right page-scroll gray-bg icons-circle i-3x">
                    <!-- Goto Top -->
                    <a href="#page">
                        <i class="glyphicon glyphicon-arrow-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- footer-bottom -->
</footer>