<header id="sticker" class="sticky-navigation">
    <!-- Sticky Menu -->
    <div class="sticky-menu relative">
        <!-- navbar -->
        <div class="navbar navbar-default navbar-bg-light" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <!-- Button For Responsive toggle -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- Logo -->
                            <a class="navbar-brand" href="/">                              
                                <img style="width:300px;" alt="logo" src="~/Content/Frontend/light/img/logo.png" />
                            </a>
                        </div>
                        <!-- Navbar Collapse -->
                        <div class="navbar-collapse collapse">
                            <!-- nav -->
                            <ul class="nav navbar-nav">
                                <!-- Home  Mega Menu -->
                                <li class="">
                                    <a href="/">Home</a>
                                </li>
                                <!-- Mega Menu Ends -->
                                <!-- Pages Mega Menu -->
                                <li class="">
                                    <a href="@Url.Action("About", "Home", new { Area = ""})">About Us</a>                                  
                                </li>

                                <li class="">
                                    <a href="#">Services</a>                                    
                                </li>

                            
                                <li>
                                    <a href="#">Help</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("Contact","Home", new { Area = "" })">Contact Us</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("FAQs","Home", new { Area = "" })">FAQs</a>
                                        </li>                                        
                                    </ul>
                                </li>
                            </ul>
                            <!-- Right nav -->
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.col-md-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- navbar -->
    </div>
    <!-- Sticky Menu -->
</header>



