@{
    ViewBag.Title = "About";
    
}
<div class="page-header page-title-left mini">
    <div class="image-bg content-in" data-background="@Url.Content("~/Content/Frontend/light/img/sections/slider/inner.jpg")" data-stellar-background-ratio="0.5" style="background-image: @Url.Content("~/Content/Frontend/light/img/sections/slider/backmenu.jpg"); background-position: 50% 0%;"></div>
    <div class="container">
        <div class="col-md-12">
            <h1 class="title" style="color:white">About</h1>
            <ul class="breadcrumb" style="color:white">
                <li style="color:white">
                    <a href="@Url.Action("Index", "Home", new {area = "" })" style="color:white">Home</a>
                </li>

                <li class="active" style="color:white">About Portal</li>
            </ul>
        </div>
    </div>
</div>

<section class="page-section animated fadeInUp visible" data-animation="fadeInUp">
    <div class="container">
     
       
        <div class="row">
            <div class="col-md-12">
                <h4>Abous Us</h4>
                <blockquote>
                    <em>
                        We are your plug to starting a profitable ecommerce business the simplest, fastest and most efficient way. With little or no huge start up capital, you can own your own fully set-up online store in less than a day.

                        With a wide range of in-demand products, you will not lack options on where and what to start with. Just start and your success story begins.

                        You don't even need to worry how your customers will get their products, it's on us. You just keep doing your sales while we get the heavy load done.


                        With a wide range of in-demand products, you will not lack options on where and what to start with. Just start and your success story begins.

                        Our personalized technical and business support units are ever ready to tackle any challenges you may encounter at any point n this journey.
                        Alright
                    </em>
                </blockquote>
            </div>
        </div>
       
    </div>
</section>


