@{
    ViewBag.Title = "About";
    
}
<div class="page-header page-title-left mini">
    <div class="image-bg content-in" data-background="@Url.Content("~/Content/Frontend/light/img/sections/slider/backmenu.jpg")" data-stellar-background-ratio="0.5" style="background-image: @Url.Content("~/Content/Frontend/light/img/sections/slider/backmenu.jpg"); background-position: 50% 0%;"></div>
    <div class="container">
        <div class="col-md-12">
            <h1 class="title" style="color:white">About</h1>
            <ul class="breadcrumb" style="color:white">
                <li style="color:white">
                    <a href="@Url.Action("Index", "Home", new {area = "" })" style="color:white">Home</a>
                </li>

                <li class="active" style="color:white">About Portal</li>
            </ul>
        </div>
    </div>
</div>

<section class="page-section animated fadeInUp visible" data-animation="fadeInUp">
    <div class="container">
        <div class="section-title">
            <h2 class="title">WE ARE BEST AT WHAT WE DO</h2>
            <div class="col-md-12 text-center">
                <!-- Text -->
                <p class="title-description">
                    FORTRESS General Enterprise Limited was incorporated in November 2015 for the purpose of providing wide range of services
                </p>
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-12">
                <h4>Our Background</h4>
                <p>FORTRESS General Enterprise Limited was incorporated in November 2015 for the purpose of providing wide range of services such as ICT solutions, Digital Marketing, Sales, Supply and Distribution, Consultancy Services, General Contract, Agriculture amongst others.</p>
                <p>The objective of the company is to realize potential savings to clients by way of improved performance base for quality project execution. Above all, technical expertise and human experience constitute the most valuable assets of the company.</p>
                <p>Our approach is to provide quality, effective and efficient services and to make sure our clients are satisfied which our experienced and highly motivated staff will ensure of at all times. Our client’s business interest is of high priority to us.</p>
                <p>We guaranty result therefore, at fortress we are accountable for the way we do business and take pride in ensuring we deliver and meet the expectation of our customers by providing improved and qualitative services.</p>
            </div>
        </div>
        <hr />

        <div class="row">
         
            <div class="col-sm-6 col-md-4">
                <h4>Our Vision</h4>
                <p>To become a leading company in providing ICT and other general services and to build a strong relationship with our clients by providing the best of services in our line of business. </p>
                <br />
                <h4>Our Moto</h4>
                <p>The leading source for everything</p>
            </div>
            <div class="col-sm-6 col-md-4">
                <h4>Our Mission</h4>
                <p>To ensure that IT is systematically used as an enabler in automating business processes and designing solutions to exceed clients’ requirements. </p>
                <p>To ensure Customer Satisfaction by providing sustainable solutions and quality, outstanding services. </p>
                <p>To collaborate with clients to ensure true ownership of delivered products and solutions to ensure maximum impact.</p>
            </div>
            <div class="col-sm-6 col-md-4">
                <nav>
                    <h4>Our Partners</h4>
                    <ul>
                        <!-- List Items -->
                        <li>SAHAR CONTINENTAL LIMITED</li>
                        <li>SANAF TECH LIMITED</li>
                        <li>UNORTHORDOX SOLUTIONS</li>
                        <li>A&A NIGERIA LIMITED</li>
                        <li>MEENA EVENT CENTER</li>
                        <li>BARADA CONSTRUCTIONS</li>
                        <li>DANUTU NIGERIA LIMITED</li>
                        <li>CENTRAL HOTEL KANO</li>
                        <li>NI’IMAH HOTEL KANO</li>
                        <li>ROYAL TROPICANA HOTEL KANO</li>
                        <li>LEMON ICE INDUSTRIES LIMITED</li>                    
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>


