/* ============================

	        COLOR 

=============================== */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover,
.navbar.navbar-bg-light .navbar-nav > li > a:hover, .navbar.navbar-bg-light .navbar-nav > li > a:focus, .navbar.navbar-bg-light .navbar-nav > li > a.active,
.navbar.navbar-bg-light .navbar-nav > li > a.highlighted,
.page-links div a:hover, .page-links div a:active, .page-links div a:focus,
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a.active,
.text-color,
.item-box a:hover i,
.inverse i,
.item-box.icons-color i,
.pricing:hover .title,
.pricing:hover .title a,
.process-content:hover .title,
.pricing .price,
.post-meta i,
.meta i,
.quote blockquote:before,
.quote blockquote:after,
.tweet_time a,
#video-controls a,
.link-hover-color a:hover,
.icons-hover-color i:hover,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active > a:hover,
#page .breadcrumb > .active,
.timeliner li:hover .timeline-heading h4.subheading,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.sitemap li a:hover {
    color: #FFA500;
}





/* ============================


	       BACKGROUND COLOR 

=============================== */
.top-bar-section.top-bar-bg-color,
.product-count,
.nav > li > a:focus, .nav > li > a:hover,
.navbar-bg-color,
.top-bar-section.top-bar-bg-color,
.btn-default,
.section-title h1:before,
.section-title h2:before,
.special-feature .mask-top h4:before,
.s-feature-box,
.s-feature-box:hover .mask-bottom,
.progress-bar,
.owl-prev .fa, .owl-next .fa,
h3.count-number:before,
h2.count-number:before,
.item-box.inverse a:hover i,
.work-process-box .item-number,
.name:before,
.inverse-bg-color i,
.icons-bg-color i,
.bg-color,
.gray-bg i:hover,
.features-list-item:hover i,
.bar,
.pagination > .active > span,
.pagination > .active > span:hover,
.blog.timeliner > li:hover .timeline-image,
.blog.timeliner > li:hover .timeline-icon,
div.count-number:before,
.static-color-icons span {
	background-color: #FFA500;
}



/* ============================

	       BORDER COLOR 

=============================== */

.dropdown-menu,
.desc-border,
.border-color,
.timeliner li:hover .timeline-image,
.pagination > .active > span,
.pagination > .active > span:hover,
.blog.timeliner  >li:hover .timeline-panel
{
	border-color: #FFA500;
}

.bottom-arrow:before{
	border-top-color: #FFA500;
}
.rightGrip, 
.leftGrip{
	border-bottom: 10px solid #FFA500 !important;
}

.blog.timeliner >li:hover  .timeline-panel:before{
  border-left-color: #FFA500;
  
}
.blog.timeliner  >li.timeline-inverted:hover .timeline-panel:before{
  border-right-color: #FFA500;
  border-left-color: #ffffff;
}
.right.blog.timeliner  >li.timeline-inverted:hover .timeline-panel:before,
.right.blog.timeliner >li:hover  .timeline-panel:before{
	border-right-color: #FFA500;
	border-left-color: #ffffff;
}
	
/******************************************************************************
  Max Width "767px"
*******************************************************************************/
@media (max-width: 767px) { 
	.blog.timeliner  >li.timeline-inverted:hover .timeline-panel:before,
	.blog.timeliner >li:hover  .timeline-panel:before{
		border-right-color: #FFA500;
		border-left-color: #ffffff;
	}
}


/* Transparent Color */

.btn-default:hover,
.color-switch .owl-controls .owl-page span,
.tags li a{
 background-color: rgba(255,196,0,.8);
}



/* Content Select In Browser */

::-moz-selection {
    background: #FFA500;
    color: #000000;
    text-shadow: none;
}

::selection {
    background: #FFA500;
    color: #a4003a;
    text-shadow: none;
}














