<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectConsole.Properties.Settings.mallConnectionString" connectionString="Data Source=localhost;Initial Catalog=mall;User ID=sa;Password=user;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />

		<!--<add name="ProjectConsole.Properties.Settings.mallConnectionString" connectionString="Data Source=SQL5104.site4now.net;Initial Catalog=db_a934ca_rockteamall;User ID=db_a934ca_rockteamall_admin;Password=33480000i;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Host" value="mail5017.site4now.net"/>
		<add key="Port" value="8889"/>
		<add key="SSL" value="false"/>
		<add key="FromEmail" value="noreply@rockteamall.com"/>
		<add key="Username" value="noreply@rockteamall.com"/>
		<add key="Password" value="P@$$w0rd2"/>
		<!--<add key="Password" value="mg!sf#lAcb5LcHZ("/>-->
	</appSettings>
</configuration>

